<h1>User Management</h1>

    <table id="editable" class="table table-hover rounded">
        <thead>
        <tr>
            <th>Name</th>
            <th>Password</th>
            <th>Delete User</th>
            <th>Edit User</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <form id="add-user-form">
        <input type="text" id="new-username" placeholder="Username" required>
        <input type="password" id="new-password" placeholder="Password" required>
        <button type="submit">Add User</button>
    </form>

    <form id="edit-user-form" style="display: none;">
        <input type="text" id="edit-username" placeholder="New Username" required>
        <input type="password" id="edit-password" placeholder="New Password" required>
        <button type="submit">Edit User</button>
    </form>

    <button id="refresh">refresh</button>

    <script src="/javascripts/admin.js"></script>