<h1> Registration page </h1>
 
    <form id="register-form" action="/register" method="POST">
        <input type="text" name="username"
            placeholder="username">
        <input type="password" name="password"
            placeholder="password">
        <button>CLick</button>
    </form>

<script src="/javascripts/register.js">