body {
  background-color: #f7f7f7;
  font-family: 'Open Sans', sans-serif;
}

#country-container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
}

#countryInput {
  justify-content: center;
}
